*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: black;
    color: #4682B4;
    margin: 0;
    padding: 0;
}

.nav{
    display: flex;
    text-align: right;
}

.nav ul li{
    position: absolute;
    display: inline;
    background-color: #b731ff;
    padding: 0px 20px;
    text-decoration: none;
  }

  body{
    position: relative;
    word-spacing: normal;
}

.tooltip{
    position: relative;
}

.tooltip:hover::after{
    content: "Civilization is a turn-based strategy game in which you attempt to build an empire to stand the test of time. Become Ruler of the World by establishing and leading a civilization from the Stone Age to the Information Age.";
    position: absolute;
  left: 0px;
  bottom: 24px;
  min-width: 200px;
  border: 1px #79ff31 solid;
  background-color: black;
  padding: 12px;
  color: #ffdd31;
  font-size: 80%;
  z-index: 1;
}

.contact{
    display: flex;
    text-align: center;
}

.contact ul{
    display: inline;
    padding: 0px 20px;
    text-decoration: none; 
    list-style-type: none;
    float: right; 
}